<div class="col-md-12">
  <div class="course">
     <strong>Title:</strong>
     <h2><%= @course.title %></h2>

     <strong>Description:</strong>
     <p><%= render_description %></p>

   </div>
</div>


<%= link_to "Edit", edit_course_path(@course)  %>
<%= link_to "Back" , courses_path %>
